{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pura Charcuterie Board</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo_company"></div>
      <nav class="nav_class">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#about_us_div">About Us</a></li>
          <li><a href="#FAQs_Questions">FAQs</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
        </ul>
      </nav>
    </header>
    <main>
     <div class="main_picture"></div>
     <section class="container-fluid px-0 my-5">
      <h2 class="product_name">Products</h2>
      <div class="row" id="products">
        <div class="col-md-4 col-sm-6">
      <div class="products_items summer">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-photo"></div>
            <div class="flip-card-back-elements">
              <div class="flip-card-back-buttons">
                <a href=""><i class="material-icons">info</i></a>
                <a href=""><i class="material-icons">shopping_basket</i></a>
              </div> 
              <div class="flip-card-back-name">
                <h3>Summer Charcuterie Board</h3>
              </div>
              <div class="flip-card-back-item-price">
                <p>Price: $60</p>
              </div>
            </div> 
          </div>
        </div>
      </div>
        </div>
        <div class="col-md-4 col-sm-6">
      <div class="products_items spring">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-photo"></div>
            <div class="flip-card-back-elements">
              <div class="flip-card-back-buttons">
                <a href=""><i class="material-icons">info</i></a>
                <a href=""><i class="material-icons">shopping_basket</i></a>
              </div> 
              <div class="flip-card-back-name">
                <h3>Spring Charcuterie Board</h3>
              </div>
              <div class="flip-card-back-item-price">
                <p>Price: $90</p>
              </div>
            </div> 
          </div>
        </div>
      </div>
        </div>
        <div class="col-md-4 col-sm-6">
      <div class="products_items winter">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <!-- Imagen de fondo para el producto 3 -->
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-photo"></div>
            <div class="flip-card-back-elements">
              <div class="flip-card-back-buttons">
                <a href=""><i class="material-icons">info</i></a>
                <a href=""><i class="material-icons">shopping_basket</i></a>
              </div> 
              <div class="flip-card-back-name">
                <h3>Winter Charcuterie Board</h3>
              </div>
              <div class="flip-card-back-item-price">
                <p>Price: $120</p>
              </div>
            </div> 
          </div>
        </div>
      </div>
      </div>
      </div>
      </section>
      <section id="about_us_div" class="container-fluid py-0">
        <div class="row align-items-center g-0">
          <div class="col-md-4 picture-col">
            <div class="about_us_div_picture">
            </div>
          </div>
          <div class="col-md-8 picture-col">
            <div class="about_us_div_description">
              <p>Hello, my name is Meilyn. I'm a law student with a passion for charcuterie. 
                When I'm not immersed in my studies, I create exquisite charcuterie boards, 
                combining flavors and artistic presentations that showcase my creativity and love for fine food.</p>
            </div>
          </div>
        </div>
      </section>
      <h2 class="product_name">FAQs</h2>
      <section id = 'FAQs_Questions' class="container-fluid py-3">
        <details class="details_class_master">
          <summary>What does each charcuterie board include?</summary>
          <p>Our charcuterie boards feature a carefully curated selection of cheeses, cured meats, fresh fruits, nuts, and jams, all artfully arranged on an artisanal board.</p>
        </details>
      
        <details class="details_class_master" >
          <summary>Can I customize my board?</summary>
          <p>Yes, we offer customization options to suit your tastes and preferences. You can choose specific items or select from our suggested combinations via our customization form.</p>
        </details>
      
        <details class="details_class_master">
          <summary>What is the delivery time?</summary>
          <p>We typically deliver within 3 to 5 business days within our service area.</p>
        </details>
      
        <details class="details_class_master">
          <summary>Do you offer international or long-distance shipping?</summary>
          <p>No, our deliveries are strictly local and cover a radius of up to 25 miles from our location.</p>
        </details>
      
        <details class="details_class_master">
          <summary>What is your return policy?</summary>
          <p>If your charcuterie board arrives in less than perfect condition, we offer returns or refunds within 15 days of purchase. Please refer to our returns policy for more details.</p>
        </details>
      
      </section>
      <section id = 'contact-us' class="container-fluid py-0">
        <div class="row align-items-center g-0">
          <div class="col-md-5 contact-container">
            <div class="contact-container-second">
            </div>
          </div>
          <div class ="col-md-2 logo-container">
            <div class ="logo-container-second">
            </div>
          </div>
          <div class ="col-md-5 newsletter-container">
            <div class = "newsletter-container-second">
            </div>
          </div>
        </div>
      </section>
      <button class='btn-flotante material-icons'>shopping_cart</button>
    </main>
    <script src="{% static 'script/script_scroll.js' %}" defer></script>
  </body>
</html>
