html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr;
  z-index: 1000;
  width: 100%;
  height: 120px;
  background: transparent;
  align-items: center;
  font-family: 'Roboto';
  backdrop-filter: blur(1px); 
  -webkit-backdrop-filter: blur(2px);
}

header.scrolled {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header.scrolled .nav_class ul li a{
  color: black;
}

header.scrolled .nav_class ul li a:hover{
  color: #7B0323;
}

.logo_company{
  width: 110px;
  height: 110px;
  background-image: url('../img/pura_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-self: start;
  margin-left: 30px;
}

.nav_class{
  justify-self: end;
  margin-right: 20px;

}

.nav_class ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav_class ul li{
  display: inline-block;
}

.nav_class ul li a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: 'Roboto';
  transition: color 0.3s ease-in-out;
}

.material-icons {
  font-size: 17px !important;
}

.nav_class ul li a:hover{
  color: #7B0323;
}

.main_picture {
  width: 100%;
  height: 720px;
  background-image: url('../img/main_picture_4.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  visibility: inherit;
}

.product_name{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #7B0323;
  display: block;
  width: 100%;
  text-align: center;
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

#products {
  scroll-margin-top: calc(50vh - 300px);
}

.products_items {
  width: auto;
  max-width: 400px;
  height: 500px;
  margin: 20px auto;
}


.product_name{
  justify-self: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';

}

@media (max-width: 1024px) and (min-width: 768px) {
  .main_picture {
    height: 500px;
    background-size: cover;
  }
}

.btn-flotante {
  display: none !important;
}

@media (max-width: 767px) {
  .main_picture {
    height: 300px;
    background-size: cover;
  }
  .logo_company {
    display: none;
  }
  .nav_class {
    display: none;
  }

  .btn-flotante {
    display: block !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background: #6B8E23;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff !important;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


}

@media (max-width: 768px) {
  .products_items {
    max-width: 90% !important;
    margin: 20px auto !important; 
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products_items {
    max-width: 90% !important; 
    margin: 20px auto !important; 
  }
}


.products_items {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 5;
  margin: 40px auto;
  overflow: hidden;
}

.products_items .flip-card-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  -webkit-transition: -webkit-transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.products_items:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2%;
  overflow: hidden;
}


.summer .flip-card-front {
  background-image: url('../img/asd.jpeg');
  background-size: cover;
  background-position: center;
}

.summer .flip-card-front::after {
  content: "Summer";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.summer .flip-card-back {
  background: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.summer .flip-card-back .flip-card-back-photo {
  background-image: url('../img/asd.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.spring .flip-card-front {
  background-image: url('../img/asd3.jpeg');
  background-size: cover;
  background-position: center;
}

.spring .flip-card-front::after {
  content: "Spring";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.spring .flip-card-back {
  background: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.spring .flip-card-back .flip-card-back-photo {
  background-image: url('../img/asd3.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}


.winter .flip-card-front {
  background-image: url('../img/asd1.jpeg');
  background-size: cover;
  background-position: center;
}

.winter .flip-card-front::after {
  content: "Winter";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.winter .flip-card-back {
  background: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.winter .flip-card-back .flip-card-back-photo {
  background-image: url('../img/asd1.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}


.flip-card-back .flip-card-back-elements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flip-card-back .flip-card-back-buttons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.flip-card-back .flip-card-back-buttons .material-icons {
  color: #7B0323;
  font-size: 40px !important;
  margin-top: 10px;
}

.flip-card-back .flip-card-back-buttons .material-icons:hover {
  color: #6B8E23;
  transition: 0.2s ease-in-out;
}

.flip-card-back .flip-card-back-name,
.flip-card-back .flip-card-back-item-price {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

#about_us_div {
  background-color: #7B0323;
}

.picture-col {
  display: grid;
  height: 300px;
  align-items: center;
}

#about_us_div .about_us_div_picture {
  background-image: url('../img/woman.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  width: 45%;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 10.5% 100%);
  clip-path: polygon(0 0, 89.5% 0, 100% 100%, 10% 100%);
  justify-self: end;
  margin: 0;
}

.description-col {
  display: grid;
  height: 300px;
  justify-items: start;
}

#about_us_div .about_us_div_description {
  color: #fff;
  font-family: 'Roboto';
  margin-top: 100px;
  margin-right: 40px;
}

@media (max-width: 767px) {
  #about_us_div .about_us_div_picture {
    background-image: url('../img/woman.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    clip-path: none;
    justify-self: center;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateZ(0);
  }

  #about_us_div .about_us_div_description{
    color: #fff;
    font-family: 'Roboto';
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1224px) {
  #about_us_div .about_us_div_picture {
    background-image: url('../img/woman.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    clip-path: none;
    justify-self: center;
    padding: 0;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateZ(0);
  }

  #about_us_div .about_us_div_description {
    color: #fff;
    font-family: 'Roboto';
    margin-top: 10px;
    margin-left: 40px;
  }
}

#FAQs_Questions {
  padding-left: 90px;
  padding-right: 15px;
  margin-top: 70px;
  margin-bottom: 70px;
}


#FAQs_Questions details {
  margin-top: 10px;
}

.details_class_master summary {
  cursor: pointer;
  font-weight: bold;
}

.details_class_master p {
  margin: 0.5rem 0 0 1rem;
}

@media (max-width: 767px){
  #FAQs_Questions {
    padding-left: 10px !important;
    padding-right: 15px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1240px){
  #FAQs_Questions {
    padding-left: 10px !important;
    padding-right: 15px;
    margin-top: 20px;
  }
}

#contact-us{
  min-height: 500px;
  background-color: #696969;
}


#contact-us .contact-container-second{
  display: flex;
  height: 500px;
  background-color: rgba(123, 3, 35, 0.9) !important;
  width: 400px;
  flex-direction: column;
  color: #fff;
  align-items: center;
  margin: 0 auto;
}

#contact-us .contact-container-second h3, p{
  font-family: 'Roboto';
}

#contact-us .contact-container-second h3{
  margin-top: 10px;

}

#contact-us .contact-container-second p{
  margin-left: 10px;
  margin-bottom: 25px;
}

#contact-us .contact-container-second form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-us .contact-container-second form input{
  margin-bottom: 15px;
  height: 35px;
  width: 300px;
}

#contact-us .contact-container-second form textarea{
  height: 150px;
  margin-bottom: 15px;
  width: 300px;
}

#contact-us .contact-container-second form input[type="submit"] {
  display: block;  
  margin: 0 auto;
  background-color: #fff;
  border: none;
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
}

#contact-us .contact-container-second form input[type="submit"]:hover{
  background-color: #7B0323;;
  color: #fff;
  border: 2px solid;
  border-color: #fff;
  transition: 0.1s ease-in-out;

}

@media (max-width: 767px) {
  
  #contact-us{
    background-color: #fff;
  }
  
  #contact-us .contact-container-second {
    width: 100% !important;
    margin: 0 auto !important;

  }
}

.info_contact_us_picture {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info_contact_us_picture .contact-us-imagen-work{
  background-image: url('../img/pura_logo_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}

.info_contact_us_picture p{
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.newsletter-container-second{
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-left: 40px;
}

.newsletter-container-second h3{
  color: #fff;
}

.newsletter-container-second p{
  color: #fff;
}

.newsletter-container-second form  #newsletter-email{
  height: 30px;
  width: 250px;
}

.newsletter-container-second form input[type="submit"] { 
  margin: 0 auto;
  background-color: #fff;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-size: normal;
  height: 30px;
  width: 110px;
}


.newsletter-container-second form input[type="submit"]:hover{
  background-color: #7B0323;;
  color: #fff;
  border: 2px solid;
  border-color: #fff;
  transition: 0.1s ease-in-out;

}

@media (max-width: 767px){
  .info_contact_us_picture_container{
    display: none;
  }

  .newsletter-container-second{
    padding-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 30px;
    
  }

  .newsletter-container-second h3 {
    text-align: center;
  }

  .newsletter-container-second form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .newsletter-container-second form input[type = 'submit']{
    background-color: #7B0323;
    margin-left: 5px;
    color: #fff;
  }

  .newsletter-container-second h3{
    color: #000;

  }
  .newsletter-container-second p{
    color: #000;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .info_contact_us_picture_container {
    display: none !important;
  }
}


footer{
    background-color: #1a1a1a;
    text-align: center;
    font-size: 12px;
    color: #66686a;
}
.custom-modal .modal-content {
  background-color: #f8f9fa;
  border: 2px solid #7B0323;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.custom-modal .modal-header {
  background-color: #7B0323;
  color: #fff;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-modal .modal-header .btn-close {
  filter: invert(1);
}

.custom-modal .modal-body {
  font-family: 'Roboto';
  font-size: 1rem;
}

.custom-modal .modal-footer {
  border-top: none;
  display: flex;
  justify-content: flex-end;
}
